<section>
    <h1>
        Contáctanos
    </h1>
    <p>Puedes comunicarte con nosotros a traves del correo
    <a href="mailto:ingmartinmsalas@gmail.com">ingmartinmsalas@gmail.com</a>.</p>
</section>